<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ดูใบสมัคร</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
  <body>
    {% include "navbarmain.html" %}
    {% include  'navbarprofile.html'%}
    {% include "navbarstatus.html" %}
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li style="font-size:150%;" class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <section class="position-container">
      <h1 class="heading">รับเข้าฝึกงาน</h1>
            <div class="loop-container">
              {% for company, status, job, interview in company %}
              {% if status == "Approved" %}
              <div class="boxs">
                <div class="company">
                  <div>
                    <h3>ตำแหน่ง : {{ job.jobname }}</h3>
                    <p></p>
                  </div>
                </div>
                <div><img src="{{ company.profile.url }}" alt="" /></div>
                <h3 class="job-title">
                บริษัท : {{ company.company_name_eng }} | {{ company.company_name_thai }}
                </h3>
                <p class="location">
                  <i class="fas fa-map-marker-alt"></i>
                  <span>{{ company.province }}, {{ company.country }}</span>
                </p>
              </br>
                <div class="tags">
                  <p>
                    <i class="fas fa-phone-alt"></i>
                    <span>{{ company.phone }}</span>
                  <p>
                    <i class="fa-brands fa-line"></i>
                    <span>{{ company.line_id }}</span>
                  </p>
                  <p>
                    <i class="fas fa-indian-rupee-sign"></i>
                    <span>{{ company.email }}</span>
                  </p>
                  <p>
                    <i class="fa-solid fa-link"></i>
                    <span><a href="{{ company.website }}"> Website</a></span>
                  </p>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
    </section>
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>