<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>View Company</title>

   <!-- custom css file link  -->
   <link rel="stylesheet" href="css/style.css">

</head>
<body>

<!-- header section starts  -->

<header class="header">

   <section class="flex">

      <div id="menu-btn" class="fas fa-bars-staggered"></div>

      <a href="home.html" class="logo"><i class="fas fa-briefcase"></i> JobPlace.</a>

      <nav class="navbar">
         <a href="home.html">home</a>
      </nav>

      <a href="post_jobs.html" class="btn" style="margin-top: 0;">post job</a>

   </section>

</header>

<!-- header section ends -->

<!-- company details section starts  -->

<section class="view-student">

   <h1 class="heading">Student details</h1>

   <div class="details">

      <div class="info">
         <img src="images/profilepics.jpg" alt="">
         <h3>Hoshino Ai</h3>
         <p>Front-end, UX/UI</p>
      </div>

      <div class="description">
         <h3>general information</h3>
         <ul>
            <p>Curriculum vitae</p>
            <li><a href="images/Hoshino_CV.pdf">Click to view CV</a></li><br>
            <p>Full name</p>
            <li>Hoshino Ai</li><br>
            <p>Student id</p>
            <li>64159876</li><br>
            <p>Email address</p>
            <li>HoshinoAi@gmail.com</li><br>
            <p>Phone number</p>
            <li>+66 58 542 6687</li><br>
            <p>Gender</p>
            <li>Female</li><br>
         </ul>

         <h3>about internship</h3>
         <ul>
            <p>Last job </p>
            <li>UX/UI</li><br>
            <p>Company </p>
            <li>IT infosys co.</li><br>
            <p>Skills</p>
            <li>html5 and css3</li>
            <li>javascript</li>
            <li>mysql</li><br>
            <p>English skills</p>
            <li>B1</li><br>
            <p>Start date of internship </p>
            <li>1 April 2024</li><br>
            <p>End date of internship </p>
            <li>30 September 2024</li><br>
         </ul>

         <h3>education</h3>
         <ul>
            <p>University </p>
            <li>University of phayao</li><br>
            <p>Faculty </p>
            <li>Information, Communication and Technology</li><br>
            <p>Major </p>
            <li>Software engineering</li><br>
         </ul>

      </div>
      <form action="" method="post" class="flex-btn">
         <input type="submit" value="edit profile" name="apply" class="btn">
      </form>
   </div>
   
</section>

<!-- company details section ends -->

<!-- jobs section starts  -->

<section class="jobs-container">

   <h1 class="heading">jobs they offer</h1>

   <div class="box-container">

      <div class="box">
         <div class="company">
            <img src="images/icon-1.png" alt="">
            <div>
               <h3>IT infosys co.</h3>
               <p>2 days ago</p>
            </div>
         </div>
         <h3 class="job-title">senior web developer</h3>
         <p class="location"><i class="fas fa-map-marker-alt"></i> <span>mumbai, india</span></p>
         <div class="tags">
            <p><i class="fas fa-indian-rupee-sign"></i> <span>10k - 25k</span></p>
            <p><i class="fas fa-briefcase"></i> <span>internship</span></p>
            <p><i class="fas fa-clock"></i> <span>5 days per week</span></p>
         </div>
         <div class="flex-btn">
            <a href="view_job.html" class="btn">view details</a>
            <button type="submit" class="far fa-heart" name="save"></button>
         </div>
      </div>

      <div class="box">
         <div class="company">
            <img src="images/icon-2.png" alt="">
            <div>
               <h3>IT infosys co.</h3>
               <p>2 days ago</p>
            </div>
         </div>
         <h3 class="job-title">qualified developer</h3>
         <p class="location"><i class="fas fa-map-marker-alt"></i> <span>mumbai, india</span></p>
         <div class="tags">
            <p><i class="fas fa-indian-rupee-sign"></i> <span>9000</span></p>
            <p><i class="fas fa-briefcase"></i> <span>internship</span></p>
            <p><i class="fas fa-clock"></i> <span>5 days per week</span></p>
         </div>
         <div class="flex-btn">
            <a href="view_job.html" class="btn">view details</a>
            <button class="far fa-heart"></button>
         </div>
      </div>

      <div class="box">
         <div class="company">
            <img src="images/icon-3.png" alt="">
            <div>
               <h3>IT infosys co.</h3>
               <p>posted today</p>
            </div>
         </div>
         <h3 class="job-title">javascript developer</h3>
         <p class="location"><i class="fas fa-map-marker-alt"></i> <span>mumbai, india</span></p>
         <div class="tags">
            <p><i class="fas fa-indian-rupee-sign"></i> <span>10k - 25k</span></p>
            <p><i class="fas fa-briefcase"></i> <span>intership</span></p>
            <p><i class="fas fa-clock"></i> <span>5 days per week</span></p>
         </div>
         <div class="flex-btn">
            <a href="view_job.html" class="btn">view details</a>
            <button class="far fa-heart"></button>
         </div>
      </div>

   </div>

</section>

<!-- jobs section ends -->
<section></section>
<!-- custom js file link  -->
<script src="js/script.js"></script>

   
</body>
</html>
