<!DOCTYPE html>
{% load static %} {% load socialaccount %}
<html lang="en">
  <head>
    <title>Login page</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <h1>Welcome, {{ user.username }} !</h1>
    {% else %}
    <h1>Login Page</h1>
    <a
      href="https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=2001579846&redirect_uri=https://3579-183-88-179-160.ngrok/callback/&state=12345abcde&scope=profile&state={{ csrf_token }}"
    >
      <img src="{% static 'icon/btn_login_base.png' %}" alt="Line Login"
    /></a>
    {% endif %}
  </body>
</html>
