<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Line Login</title>
  </head>
  <body>
    <h1>Login with Line</h1>
    <a
      href="https://access.line.me/oauth2/v2.1/login?response_type=code&client_id={{ LINE_CHANNEL_ID }}&redirect_uri={{ LINE_LOGIN_CALLBACK }}&state={{ csrf_token }}"
    >
      <img src="{% static 'icon/line-icon.png' %}" alt="Line Login"
    /></a>
  </body>
</html>
