<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Student Register</title>

   <!-- custom css file link  -->
   <link rel="stylesheet" href="css/style.css">

</head>
<body>

<!-- header section starts  -->

<header class="header">

   <section class="flex">

      <div id="menu-btn" class="fas fa-bars-staggered"></div>

      <a href="home.html" class="logo"><i class="fas fa-briefcase"></i> JobPlace.</a>

      <nav class="navbar">
         <a href="home.html">home</a>
      </nav>

      <a href="post_jobs.html" class="btn" style="margin-top: 0;">post job</a>

   </section>

</header>

<!-- header section ends -->

<!-- account section starts  -->

<div class="account-form-container">

   <section class="account-form">

      <form action="" method="post">
         <h3>create new profile!</h3>
         <p>Upload your CV </p>
         <input type="file" accept="image/png, image/jpeg, file" placeholder="upload your profile image" class="input">
         <p>Full name <span>*</span></p>
         <input type="text" placeholder="enter your full name" required maxlength="50" class="input">
         <p>Student ID <span>*</span></p>
         <input type="number" placeholder="enter your sutudent id" required maxlength="20" class="input">
         <p>Email address<span>*</span></p>
         <input type="email" placeholder="enter your email address" required maxlength="50" class="input">
         <p>Phone number<span>*</span></p>
         <input type="number" placeholder="enter your phone number" required maxlength="20" class="input">
         <div class="select-box">
            <select>
              <option hidden>Gender</option>
              <option>Male</option>
              <option>Female</option>
              <option>Prefer not to say</option>
            </select>
         </div><br>
         <h3>about internship</h3>
         <p>Your last job <span>*</span></p>
         <input type="text" placeholder="enter your last job" required maxlength="50" class="input">
         <p>Company name <span>*</span></p>
         <input type="text" placeholder="enter company name that you was trainee" required maxlength="50" class="input">
         <p>Interested job <span>*</span></p>
         <input type="text" placeholder="enter your interested job" required maxlength="50" class="input">
         <p>Skills <span>*</span></p>
         <input type="text" placeholder="enter your interested job" required maxlength="50" class="input">
         <p>English skills <span>*</span></p>
         <div class="select-box">
            <select>
              <option hidden>Select your english level</option>
              <option>A1</option>
              <option>A2</option>
              <option>B1</option>
              <option>B2</option>
              <option>C1</option>
              <option>C2</option>
            </select>
         </div><br>
         <p>Start date of internship <span>*</span></p>
         <input type="date" placeholder="choose your start date of internship" required maxlength="50" class="input">
         <p>End date of internship <span>*</span></p>
         <input type="date" placeholder="choose your end date of internship" required maxlength="50" class="input">
         <h3>education</h3>
         <p>University <span>*</span></p>
         <input type="text" placeholder="enter your university name" required maxlength="50" class="input">
         <p>Faculty <span>*</span></p>
         <input type="text" placeholder="enter your faculty" required maxlength="50" class="input">
         <p>Major <span>*</span></p>
         <input type="text" placeholder="enter your major" required maxlength="50" class="input">
         <input type="submit" value="reigster now" name="submit" class="btn">
      </form>
   
   </section>

</div>

<!-- account section ends -->
<section></section>
<!-- custom js file link  -->
<script src="js/script.js"></script>

   
</body>
</html>