<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ค้นหางาน</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
  <body>
    <!-- header section starts  -->

  {% include "navbarmain.html" %}

    {% if user.role == 'STUDENT' %}
    <div class="home-container">
      <section class="home">
        <form action="{% url 'job_search' %}" method="post">
          {% csrf_token %}
          <h3>ค้นหาตำแหน่งหรือบริษัทที่สนใจ</h3>
          <p>ค้นหางาน<span>*</span></p>
          <input
            type="text"
            name="query"
            placeholder="ตำแหน่ง หรือ บริษัท"
            required
            maxlength="1000"
            class="input"
          />
          <input type="submit" value="ค้นหางาน" name="search" style="font-size:200%;" class="btn-green" />
        </form>
      </section>
    </div>

    <!-- home section ends -->

    <!-- jobs section starts  -->

    <section class="jobs-container">
      <h1 class="heading">ตำแหน่งที่เปิดรับสมัคร</h1>
      <div class="box-container">
        {% for job in jobs %}
        <div class="box">
            <div class="company">
                <div>
                    <h3>{{ job.company }}</h3>
                    <p></p>
                </div>
            </div>
            <h3 class="job-title">{{ job.jobname }}</h3>
            <p class="location">
                <i class="fas fa-map-marker-alt"></i> <span>{{ job.city }}, {{job.country }}</span>
            </p>
            <div class="tags">
                <p>
                    <i class="fas fa-indian-rupee-sign"></i> <span>{{ job.benefit }}</span>
                </p>
                <p><i class="fas fa-briefcase"></i> <span>{{ job.worktype }}</span></p>
                <p><i class="fas fa-clock"></i> <span>{{ job.workday }}</span></p>
            </div>
            <div class="flex-btn">
                {% comment %} <a href="{% url 'view_job' job.id %}" class="btn">view details</a> {% endcomment %}
                <a href="{% url 'view_job' job_id=job.id %}" class="btn-more">ดูเพิ่มเติม</a>
            </div>
        </div>
      {% endfor %}
      </div>


      <div style="text-align: center; margin-top: 2rem">
        <a href="{% url "showalljob" %}" class="btn">ดูตำแหน่งทั้งหมด</a>
      </div>
    </section>
    <script src="{% static "js/script.js" %}"></script>

    {% elif user.role == 'COMPANY'%}
    {% include "navbarstatus.html" %}
    
    {% else%}
    <div class="home-container">
      <section class="home">
        <form action="{% url 'job_search' %}" method="post">
          {% csrf_token %}
          <h3>ค้นหาตำแหน่งหรือบริษัทที่สนใจ</h3>
          <p>ค้นหางาน<span>*</span></p>
          <input
            type="text"
            name="query"
            placeholder="ตำแหน่ง หรือ บริษัท"
            required
            maxlength="1000"
            class="input"
          />
          <input type="submit" value="ค้นหางาน" name="search" style="font-size:200%;" class="btn-green" />
        </form>
      </section>
    </div>

    <!-- home section ends -->

    <!-- jobs section starts  -->

    <section class="jobs-container">
      <h1 class="heading">ตำแหน่งที่เปิดรับสมัคร</h1>
      <div class="box-container">
        {% for job in jobs %}
        <div class="box">
            <div class="company">
                <div>
                    <h3>{{ job.company }}</h3>
                    <p></p>
                </div>
            </div>
            <h3 class="job-title">{{ job.jobname }}</h3>
            <p class="location">
                <i class="fas fa-map-marker-alt"></i> <span>{{ job.city }}, {{job.country }}</span>
            </p>
            <div class="tags">
                <p>
                    <i class="fas fa-indian-rupee-sign"></i> <span>{{ job.benefit }}</span>
                </p>
                <p><i class="fas fa-briefcase"></i> <span>{{ job.worktype }}</span></p>
                <p><i class="fas fa-clock"></i> <span>{{ job.workday }}</span></p>
            </div>
            <div class="flex-btn">
                {% comment %} <a href="{% url 'view_job' job.id %}" class="btn">view details</a> {% endcomment %}
                <a href="{% url 'view_job' job.id %}" class="btn-more">ดูเพิ่มเติม</a>
            </div>
        </div>
      {% endfor %}
      </div>


      <div style="text-align: center; margin-top: 2rem">
        <a href="{% url "showalljob" %}" class="btn">ดูตำแหน่งทั้งหมด</a>
      </div>
    </section>
    <script src="{% static "js/script.js" %}"></script>
    {% endif %}
  </body>
</html>