<!DOCTYPE html>
{% load socialaccount %}
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>เข้าสู่ระบบ</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
  <body>
    <!-- header section starts  -->
    {% include "navbarmain.html" %}

    <!-- header section ends -->

    <!-- home section starts  -->
    <div class="home-container">
      <section class="home">
        <form action="{% url 'reallogin' %}" method="post" class="login-form">
          {% csrf_token %}
          <h3>เข้าสู่ระบบ</h3>
          <div class="form-group">
            <p>USERNAME: <span>*</span></p>
            <input type="text" id="username" name="username" class="input">
          </div>
          <div class="form-group">
            <p>PASSWORD: <span>*</span></p>
            <input type="password" id="password" name="password" class="input">
          </div>
          <button type="submit" class="btn btn-primary">เข้าสู่ระบบ</button>
          <p>ยังไม่ได้สมัครสมาชิก? ==> <a href="{% url 'login_page' %}" class="btn-register">สมัครสมาชิก</a></p>
        </form>
      </section>
    </div>

    <!-- jobs section ends -->
    <section></section>
    <!-- custom js file link  -->
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>