<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ค้นหางาน</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
  <body>
    <!-- header section starts  -->

  {% include "navbarmain.html" %}

    <section class="jobs-container">
      <h1 class="heading">ผลการค้นหา</h1>
      <div class="box-container">
        {% for job in jobs %}
        <div class="box">
            <div class="company">
                <div>
                    <h3>{{ job.company }}</h3>
                    <p></p>
                </div>
            </div>
            <h3 class="job-title">{{ job.jobname }}</h3>
            <p class="location">
                <i class="fas fa-map-marker-alt"></i> <span>{{ job.city }}, {{job.country }}</span>
            </p>
            <div class="tags">
                <p>
                    <i class="fa-solid fa-money-bill"></i> <span>{{ job.benefit }}</span>
                </p>
                <p><i class="fas fa-briefcase"></i> <span>{{ job.worktype }}</span></p>
                <p><i class="fas fa-clock"></i> <span>{{ job.workday }}</span></p>
            </div>
            <div class="flex-btn">
                {% comment %} <a href="{% url 'view_job' job.id %}" class="btn">view details</a> {% endcomment %}
                <a href="{% url 'view_job' job_id=job.id %}" class="btn-more">ดูเพิ่มเติม</a>
            </div>
        </div>
      {% endfor %}
      </div>
    </section>

    <section></section>
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>