<!-- select_role.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Select Role</title>
  </head>
  <body>
    <h2>Select Your Role</h2>
    <form method="post">
      {% csrf_token %}
      <button type="submit" name="role" value="{{ CustomUser.Role.STUDENT }}">
        Student
      </button>
      <button type="submit" name="role" value="{{ CustomUser.Role.COMPANY }}">
        Company
      </button>
      <button type="submit" name="role" value="{{ CustomUser.Role.COMPANY }}">
        Company
      </button>
    </form>
  </body>
</html>
