<!-- welcome.html -->
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
  <body>
    <!-- header section starts  -->

    {% include "navbarmain.html" %}

    <!-- header section ends -->

    <!-- home section starts  -->

    <div class="home-container">
      <section class="home">
        <form action="" method="post">
          <h3>Welcome, {{ role }} | {{ username }}</h3>
          <p>Plz enter you information<span>*</span></p>
          {% csrf_token %}
          {% if role == 'STUDENT' %}
            <a href="{% url 'student_profile' username=user.username %}" class="btn">Go to Student Profile</a>
          {% elif role == 'COMPANY' %}
            <a href="{% url 'company_profile' username=user.username %}" class="btn">Go to Company Profile</a>
          {% endif %}
        </form>
      </section>
    </div>
    <!-- home section ends -->
    <section></section>
    <!-- custom js file link  -->
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>