<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>โปรไฟล์</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
  <body>
    <!-- header section starts  -->
    {% csrf_token %} 
    <!-- Navbar  -->
    {% include "navbarmain.html" %}
    <!-- Navbar  -->
    
    <!-- Navbar  -->
    {% include  'navbarprofile.html'%}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li style="font-size:150%;" class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    <!-- Navbar  -->
    {% if user.role == 'STUDENT' %}
    <!-- header section ends  -->
    <!-- student profile section starts  -->
    <div class="account-form-container">
      <section class="account-form">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <h3>เพิ่มข้อมูลโปรไฟล์</h3>
          <p>อัพโหลดรูปโปรไฟล์</p>
          <input
            name="profile"
            type="file"
            accept="image/png, image/jpeg"
            placeholder="png, jpeg, jpg"
            class="input"
          />
          <p>ลิงค์ CV </p>
          <input
            name="cv"
            type="website"
            accept="image/png, image/jpeg, file"
            placeholder="CV link"
            class="input"
          />
          <p>ชื่อ <span>*</span></p>
          <input
            name="first_name"
            type="text"
            placeholder="กรอกชื่อจริง"
            required
            maxlength="1000"
            class="input"
          />
          <p>นามสกุล <span>*</span></p>
          <input
            name="last_name"
            type="text"
            placeholder="กรอกนามสกุล"
            required
            maxlength="1000"
            class="input"
          />
          <p>ชื่อเล่น <span>*</span></p>
          <input
            name="nick_name"
            type="text"
            placeholder="กรอกชื่อเล่น"
            required
            maxlength="1000"
            class="input"
          />
          <p>รหัสนิสิต <span>*</span></p>
          <input
            name="student_id"
            type="number"
            placeholder="กรอกรหัสนิสิต"
            required
            maxlength="20"
            class="input"
          />
          <p>Email<span>*</span></p>
          <input
            name="email"
            type="email"
            placeholder="กรอก email ของคุณ"
            required
            maxlength="1000"
            class="input"
          />
          <p>เบอร์โทรติดต่อ<span>*</span></p>
          <input
            name="phone"
            type="number"
            placeholder="กรแกเบอร์โทรติดต่อของคุณ"
            required
            maxlength="20"
            class="input"
          />
          <p>เพศ<span>*</span></p>
          <div class="select-box">
            <select name="gender" class="select">
              <option hidden>Gender</option>
              <option>ชาย</option>
              <option>หญิง</option>
              <option>ไม่ต้องการตอบ</option>
            </select>
          </div>
          <p>วันเกิด<span>*</span></p>
          <input
            name="birthday"
            type="date"
            placeholder="กรอกวันเกิดของคุณ"
            required
            maxlength="1000"
            class="input"
          />
          <br />
          <h3>ประวัติการฝึกงาน</h3>
          <p>ตำแหน่งที่ฝึกงานครั้งล่าสุด (ไม่มีให้ใส่ - ) <span>*</span></p>
          <input
            name="last_job"
            type="text"
            placeholder="กรอกตำแหน่งที่ฝึกงานครั้งล่าสุด"
            required
            maxlength="1000"
            class="input"
          />
          <p>ชื่อบริษัทที่เคยฝึกงาน (ไม่มีให้ใส่ - ) <span>*</span></p>
          <input
            name="intern_company"
            type="text"
            placeholder="กรอกชื่อบริษัทที่เคยฝึกงาน"
            required
            maxlength="1000"
            class="input"
          />
          <h3>ทักษะ ความสามารถ และความสนใจ</h3>
          <p>ตำแหน่งที่สนใจ <span>*</span></p>
          <input
            name="interest_job"
            type="text"
            placeholder="กรอกตำแหน่งที่สนใจ"
            required
            maxlength="1000"
            class="input"
          />
          <p>ทักษะ <span>*</span></p>
          <input
            name="skill"
            type="text"
            placeholder="กรอกทักษะของคุณ"
            required
            maxlength="1000"
            class="input"
          />
          <p>ทักษะภาษาอังกฤษ <span>*</span></p>
          <div class="select-box">
            <select name="eng_skill">
              <option hidden>เลือกระดับความสามารถ</option>
              <option>ระดับเริ่มต้น</option>
              <option>ระดับกลาง</option>
              <option>ระดับสูง</option>
            </select>
          </div>
          <br />
          <p>วันที่เริ่มฝึกงาน (ปัจจุบัน) <span>*</span></p>
          <input
            name="intern_start"
            type="date"
            placeholder="กรอกวันที่เริ่มฝึกงาน"
            required
            maxlength="1000"
            class="input"
          />
          <p>วันที่สิ้นสุดการฝึกงาน <span>*</span></p>
          <input
            name="intern_end"
            type="date"
            placeholder="กรอกวันที่สิ้นสุดการฝึกงาน"
            required
            maxlength="1000"
            class="input"
          />
          <h3>ระดับการศึกษา</h3>
          <p>มหาวิทยาลัย <span>*</span></p>
          <input
            name="university"
            type="text"
            placeholder="กรอกมหาวิทยาลัยของคุณ"
            required
            maxlength="1000"
            class="input"
          />
          <p>คณะ <span>*</span></p>
          <input
            name="faculty"
            type="text"
            placeholder="กรอกคณะของคุณ"
            required
            maxlength="1000"
            class="input"
          />
          <p>สาขา <span>*</span></p>
          <input
            name="major"
            type="text"
            placeholder="กรอกสาขาของคุณ"
            required
            maxlength="1000"
            class="input"
          />
          <input type="submit" value="SAVE" name="submit" class="btn" />
        </form>
      </section>
      <script src="{% static "js/script.js" %}"></script>
    </div>
    <!-- student profile section ends  -->
    {% elif user.role == 'COMPANY' %}
    <!-- company profile section starts  -->
    <div class="account-form-container">
      <section class="account-form">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <h3>เพิ่มข้อมูลบริษัท</h3>
          <p>อัพโหลดโลโก้บริษัท</p>
          <input
            name="profile"
            type="file"
            accept="image/png, image/jpeg"
            placeholder="อัพโหลดโลโก้บริษัท"
            class="input"
          />
          <p>ชื่อบริษัท (ภาษาอังกฤษ)<span>*</span></p>
          <input
            name="company_name_eng"
            type="text"
            placeholder="กรอกชื่อบริษัทภาษาอังกฤษ"
            required
            maxlength="1000"
            class="input"
          />
          <p>ชื่อบริษัท (ภาษาไทย) <span>*</span></p>
          <input
            name="company_name_thai"
            type="text"
            placeholder="กรอกชื่อบริษัทภาษาไทย"
            required
            maxlength="1000"
            class="input"
          />
          <p>วันที่ก่อตั้งบริษัท<span>*</span></p>
          <input
            name="foundation_date"
            type="date"
            placeholder="วว/ดด/ปปปป"
            required
            maxlength="1000"
            class="input"
          />
          <p>เกี่ยวกับบริษัท<span>*</span></p>
          <input
            name="company_des"
            type="text"
            placeholder="กรอกรายละเอียดของบริษัท"
            required
            maxlength="20"
            class="input"
          />
          <p>จำนวนพนักงานในบริษัท <span>*</span></p>
          <input
            name="number_of_employees"
            type="number"
            placeholder="กรอกจำนวนพนักงานในบริษัท"
            required
            maxlength="20"
            class="input"
          />
          <p>เว็ปไซต์บริษัท<span>*</span></p>
          <input
            name="website"
            type="text"
            placeholder="กรอกเว็ปไซต์ของบริษัท"
            required
            maxlength="1000"
            class="input"
          />
          <p>Email สำหรับติดต่อฝึกงาน<span>*</span></p>
          <input
            name="email"
            type="email"
            placeholder="กรอก email สำหรับติดต่อของบริษัท"
            required
            maxlength="1000"
            class="input"
          />
          <p>เบอร์โทรติดต่อ (HR/บริษัท)<span>*</span></p>
          <input
            name="phone"
            type="number"
            placeholder="กรอกเบอร์โทรติดต่อของบริษัท"
            required
            maxlength="20"
            class="input"
          />
          <p>Line ID สำหรับติดต่อฝึกงาน <span>*</span></p>
          <input
            name="line_id"
            type="text"
            placeholder="กรอก Line ID สำหรับติดต่อฝึกงาน"
            required
            maxlength="20"
            class="input"
          />
          <br /><br />
          <h3>ที่ตั้งบริษัท</h3>
          <p>ที่อยู่ <span>*</span></p>
          <input
            name = "address"
            type="text"
            placeholder="กรอกที่อยู่ของบริษัท"
            required
            maxlength="1000"
            class="input"
          />
          <p>ตำบล/แขวง <span>*</span></p>
          <input
            name="sub_district"
            type="text"
            placeholder="กรอกตำบล/แขวงที่ตั้งของบริษัท"
            required
            maxlength="1000"
            class="input"
          />
          <p>อำเภอ/เขต <span>*</span></p>
          <input
            name="district"
            type="text"
            placeholder="กรอกอำเภอ/เขตที่ตั้งของบริษัท"
            required
            maxlength="1000"
            class="input"
          />
          <p>จังหวัด <span>*</span></p>
          <input
            name="province"
            type="text"
            placeholder="กรอกจังหวัดที่ตั้งของบริษัท"
            required
            maxlength="1000"
            class="input"
          />
          <p>ประเทศ <span>*</span></p>
          <input
            name="country"
            type="text"
            placeholder="กรอกประเทศที่ตั้งของบริษัท"
            required
            maxlength="1000"
            class="input"
          />
          <p>รหัสไปรษณีย์ <span>*</span></p>
          <input
            name="postal_code"
            type="number"
            placeholder="กรอกรหัสไปรษณีย์"
            required
            maxlength="6"
            class="input"
          />
          <input type="submit" value="SAVE" name="submit" class="btn" />
        </form>
      </section>
    </div>
    <!-- company profile section ends  -->
    {% endif %}
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>
