<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Company Register</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
  <body>
    <!-- header section starts  -->
    {% include "navbarmain.html" %}

    <!-- header section ends -->

    <!-- Navbar  -->
    <section class="navbar__links" id="navbar-links">
      <div class="navbar__div">
        <a href="view_company.html" class="navbar__item">Profile</a>
        <a href="#" class="navbar__item">Company</a>
        <a href="#" class="navbar__item">...</a>
      </div>
    </section>
    <!-- Navbar  -->

    <!-- account section starts  -->

    <div class="account-form-container">
      <section class="account-form">
        <form action="" method="post">
          <h3>create new profile!</h3>
          <p>Upload your company logo</p>
          <input
            type="file"
            accept="image/png, image/jpeg"
            placeholder="upload your profile image"
            class="input"
          />
          <p>Company name <span>*</span></p>
          <input
            type="text"
            placeholder="enter your company name"
            required
            maxlength="50"
            class="input"
          />
          <p>About company <span>*</span></p>
          <input
            type="text"
            placeholder="enter your company description"
            required
            maxlength="20"
            class="input"
          />
          <p>Location<span>*</span></p>
          <input
            type="text"
            placeholder="province, country"
            required
            maxlength="50"
            class="input"
          />
          <p>Website<span>*</span></p>
          <input
            type="text"
            placeholder="enter your company website"
            required
            maxlength="50"
            class="input"
          />
          <p>Email address<span>*</span></p>
          <input
            type="email"
            placeholder="enter your company email address"
            required
            maxlength="50"
            class="input"
          />
          <p>Phone number<span>*</span></p>
          <input
            type="number"
            placeholder="enter your company phone number"
            required
            maxlength="20"
            class="input"
          />
          <br /><br />
          <h3>company address</h3>
          <p>Address <span>*</span></p>
          <input
            type="text"
            placeholder="enter your company address"
            required
            maxlength="50"
            class="input"
          />
          <p>Sub district <span>*</span></p>
          <input
            type="text"
            placeholder="enter your company sub-district"
            required
            maxlength="50"
            class="input"
          />
          <p>District <span>*</span></p>
          <input
            type="text"
            placeholder="enter your company district"
            required
            maxlength="50"
            class="input"
          />
          <p>Province <span>*</span></p>
          <input
            type="text"
            placeholder="enter your company province"
            required
            maxlength="50"
            class="input"
          />
          <p>Country <span>*</span></p>
          <input
            type="text"
            placeholder="enter your company country"
            required
            maxlength="50"
            class="input"
          />
          <p>Postal code <span>*</span></p>
          <input
            type="number"
            placeholder="enter postal code"
            required
            maxlength="6"
            class="input"
          />
          <input type="submit" value="reigster now" name="submit" class="btn" />
        </form>
      </section>
    </div>

    <!-- account section ends -->
    <section></section>
    <!-- custom js file link  -->
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>
