<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>นัดสัมภาษณ์</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
  <body>
    <!-- header section starts  -->

    {% include "navbarmain.html" %}

    <!-- header section ends -->

    <!-- Navbar  -->
    {% include "navbarprofile.html" %}
    <!-- Navbar  -->

    <!-- account section starts  -->

    <div class="account-form-container">
      <section class="account-form">
        <form action="" method="post">
          {% csrf_token %} {{ form.errors }}
          <h3>แบบฟอร์มการนัดหมายสัมภาษณ์ฝึกงาน</h3>
          <p>วันที่นัดหมาย <span>*</span></p>
          <input
            name="date"
            type="date"
            placeholder="กรอกวันที่นัดหมายสัมภาษณ์"
            required
            maxlength="1000"
            class="input"
          />
          <p>เวลา <span>*</span></p>
          <input
            name="time"
            type="time"
            placeholder="กรอกเวลาที่นัดหมายสัมภาษณ์"
            required
            maxlength="1000"
            class="input"
          />
          <p>สถานที่นัดสัมภาษณ์ <span>*</span></p>
          <div class="select-box">
            <select name="location">
              <option hidden>สถานที่</option>
              <option>Online</option>
              <option>Onsite</option>
            </select>
          </div>
            <p>ลิงค์สำหรับการสัมภาษณ์แบบ Online (Onsite ใส่ " - ") <span>*</span></p>
            <input
                name="link"
                type="text"
                placeholder="กรอกลิงค์สำหรับการสัมภาษณ์"
                required
                maxlength="1000"
                class="input"
            />
          <input type="submit" value="สร้างการนัดหมาย" name="submit" class="btn" />
        </form>
      </section>
    </div>

    <!-- account section ends -->
    <section></section>
    <!-- custom js file link  -->
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>
