<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ตำแหน่ง</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
  <body>
    <!-- header section starts  -->
    {% csrf_token %} 
    <!-- Navbarmain -->
    {% include "navbarmain.html" %}
    <!-- Navbarmain --> 
   
    <!-- Navbarprofile  -->
    {% include  'navbarprofile.html'%}
    <!-- Navbarprofile  -->
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li style="font-size:150%;" class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    
    <section class="jobs-container">
      <h1 class="heading">ตำแหน่งที่เปิดรับสมัคร</h1>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li style="font-size:150%;" class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="flex-btn">
        <a href="{% url 'postjob' role='COMPANY' username=user.username %}" class="btn">เพิ่มตำแหน่งที่รับสมัคร</a>
    </div>
      <div class="box-container">
        {% for job in jobs %}
        <div class="box">
            <div class="company">
                <div>
                    <h3>บริษัท : {{ job.company }}</h3>
                    <p></p>
                </div>
            </div>
            <h3 class="job-title">ตำแหน่ง : {{ job.jobname }}</h3>
            <p class="location">
                <i class="fas fa-map-marker-alt"></i> <span>{{ job.city }}, {{job.country }}</span>
            </p>
            <div class="tags">
                <p>
                  <i class="fa-solid fa-money-check-dollar"></i>
                    <span>{{ job.benefit }}</span>
                </p>
                <p><i class="fas fa-briefcase"></i> <span>ประเภทการรับสมัคร : {{ job.worktype }}</span></p>
                <p><i class="fas fa-clock"></i> <span>วันทำงาน : {{ job.workday }}</span></p>
            </div>
            <div class="flex-btn">
                <a href="{% url 'view_job' job.id %}" class="btn">ดูรายละเอียด</a>
                {% comment %} <a href="{% url 'editjob' job.id %}" class="btn">Edit</a> {% endcomment %}
                <a href="{% url 'deletejob' job.id %}" class="btn">ลบตำแหน่ง</a>
            </div>
        </div>
      {% endfor %}
      </div>
    </section>

    <!-- jobs section ends -->
    <section></section>
    <!-- custom js file link  -->
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>