<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Select Role</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
  <body>
    <!-- header section starts  -->

    {% include "navbarmain.html" %}

    <!-- header section ends -->

    <!-- Navbar  -->
    {% include "navbarprofile.html" %}
    <!-- Navbar  -->

    <!-- account section starts  -->

    <div class="account-form-container">
      <section class="account-form">
        <form action="" method="post">
          {% csrf_token %} {{ form.errors }}
          <h3>create new job!</h3>
          <p>Job title <span>*</span></p>
          <input
            name="jobname"
            type="text"
            placeholder="enter job title"
            required
            maxlength="50"
            class="input"
          />
          <p>Job description <span>*</span></p>
          <input
            name="jobdes"
            type="text"
            placeholder="enter job description"
            required
            maxlength="50"
            class="input"
          />
          <p>Benefits<span>*</span></p>
          <input
            name="benefit"
            type="text"
            placeholder="enter benefits"
            required
            maxlength="50"
            class="input"
          />
          <p>Job type<span>*</span></p>
          <input
            name="worktype"
            type="text"
            placeholder="Full-time, Part-time, internship"
            required
            maxlength="20"
            class="input"
          />
          <p>Time in <span>*</span></p>
          <input
            name="workstart"
            type="time"
            placeholder="enter job title"
            required
            maxlength="50"
            class="input"
          />
          <p>Time out <span>*</span></p>
          <input
            name="workend"
            type="time"
            placeholder="enter job title"
            required
            maxlength="50"
            class="input"
          />
          <p>Work day<span>*</span></p>
          <div class="select-box">
            <select name="workday" id="" required>
              <option hidden>work day</option>
              <option>5 days per week</option>
              <option>6 days per week</option>
              <option>others</option>
            </select>
          </div>
          <br />
          <br /><br />
          <h3>Qualifications</h3>
          <p>Requirements <span>*</span></p>
          <input
            name="requirement"
            type="text"
            placeholder="enter requirements"
            required
            maxlength="50"
            class="input"
          />
          <p>Qualifications <span>*</span></p>
          <input
            name="qualifications"
            type="text"
            placeholder="enter qualifications"
            required
            maxlength="50"
            class="input"
          />
          <p>Skills <span>*</span></p>
          <input
            name="skills"
            type="text"
            placeholder="enter skills required"
            required
            maxlength="50"
            class="input"
          />
          <h3>Location</h3>
          <p>Company <span>*</span></p>
          <input
            name="company"
            type="text"
            placeholder="enter skills required"
            required
            maxlength="50"
            value="{{ company.companyinfo.company_name_eng }}"
            class="input"
          />
          <p>City <span>*</span></p>
          <input
            name="city"
            type="text"
            placeholder="enter skills required"
            required
            maxlength="50"
            value="{{ company.companyinfo.Province }}"
            class="input"
          />
          <p>Country <span>*</span></p>
          <input
            name="country"
            type="text"
            placeholder="enter skills required"
            required
            maxlength="50"
            value="{{ company.companyinfo.country }}"
            class="input"
          />
          <input type="submit" value="create job" name="submit" class="btn" />
        </form>
      </section>
    </div>

    <!-- account section ends -->
    <section></section>
    <!-- custom js file link  -->
    <script>
      document.getElementById("company-name").value = "{{ company.companyinfo.company_name_eng }}";
      document.getElementById("company-city").value = "{{ company.companyinfo.Province}}";
      document.getElementById("company-coun").value = "{{ company.companyinfo.country}}";
    </script>
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>
