<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>เพิ่มตำแหน่งที่รับสมัคร</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
  <body>
    <!-- header section starts  -->

    {% include "navbarmain.html" %}

    <!-- header section ends -->

    <!-- Navbar  -->
    {% include "navbarprofile.html" %}
    <!-- Navbar  -->
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li style="font-size:150%;" class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <!-- account section starts  -->
    <div class="account-form-container">
      <section class="account-form">
        <form action="" method="post">
          {% csrf_token %} {{ form.errors }}
          <h3>เพิ่มตำแหน่งที่รับสมัคร</h3>
          <p>ตำแหน่ง <span>*</span></p>
          <input
            name="jobname"
            type="text"
            placeholder="กรอกตำแหน่งงานที่รับสมัคร"
            required
            maxlength="1000"
            class="input"
          />
          <p>รายละเอียดเพิ่มเติมเกี่ยวกับตำแหน่งนี้ <span>*</span></p>
          <input
            name="jobdes"
            type="text"
            placeholder="กรอกรายละเอียดตำแหน่งที่รับสมัคร"
            required
            maxlength="1000"
            class="input"
          />
          <p>ค่าตอบแทน/สวัสดิการ<span>*</span></p>
          <input
            name="benefit"
            type="text"
            placeholder="กรอกค่าค่าตอบแทน/สวัสดิการ"
            required
            maxlength="1000"
            class="input"
          />
          <p>ประเภทการรับสมัคร<span>*</span></p>
          <div class="select-box">
            <select name="worktype">
              <option hidden>ประเภทการรับสมัคร</option>
              <option>internship</option>
              <option>Part-time</option>
              <option>Full-time</option>
            </select>
          </div>
          <p>เวลาเข้างาน <span>*</span></p>
          <input
            name="workstart"
            type="time"
            placeholder="กรอกเวลาเข้างาน"
            required
            maxlength="1000"
            class="input"
          />
          <p>เวลาเลิกงาน <span>*</span></p>
          <input
            name="workend"
            type="time"
            placeholder="กรอกเวลาเลิกงาน"
            required
            maxlength="1000"
            class="input"
          />
          <p>วันทำงานต่อสัปดาห์<span>*</span></p>
          <div class="select-box">
            <select name="workday" id="" required>
              <option hidden>โปรดเลือกวันทำงาน</option>
              <option>5 วันต่อสัปดาห์</option>
              <option>6 วันต่อสัปดาห์</option>
              <option>others</option>
            </select>
          </div>
          <br />
          <br /><br />
          <h3>คุณสมบัติของผู้สมัคร</h3>
          <p>คุณสมบัติ <span>*</span></p>
          <input
            name="requirement"
            type="text"
            placeholder="กรอกคุณสมบัติของผู้สมัคร"
            required
            maxlength="1000"
            class="input"
          />
          <p>ความสามารถ <span>*</span></p>
          <input
            name="skills"
            type="text"
            placeholder="กรอกความสามารถของผู้สมัคร"
            required
            maxlength="1000"
            class="input"
          />
          <h3>สถานที่ฝึกงาน</h3>
          <p>บริษัท <span>*</span></p>
          <input
            name="company"
            type="text"
            placeholder="กรอกบริษัทที่รับสมัคร"
            required
            maxlength="1000"
            value="{{ company.companyinfo.company_name_eng }}"
            class="input"
          />
          <p>อำเภอ/เขต <span>*</span></p>
          <input
            name="city"
            type="text"
            placeholder="กรอกอำเภอ/เขตของบริษัท"
            required
            maxlength="1000"
            value="{{ company.companyinfo.Province }}"
            class="input"
          />
          <p>จังหวัด <span>*</span></p>
          <input
            name="country"
            type="text"
            placeholder="กรอกจังหวัดของบริษัท"
            required
            maxlength="1000"
            value="{{ company.companyinfo.country }}"
            class="input"
          />
          <input type="submit" value="เพิ่มตำแหน่ง" name="submit" class="btn" />
        </form>
      </section>
    </div>

    <!-- account section ends -->
    <section></section>
    <!-- custom js file link  -->
    <script>
      document.getElementById("company-name").value = "{{ company.companyinfo.company_name_eng }}";
      document.getElementById("company-city").value = "{{ company.companyinfo.Province}}";
      document.getElementById("company-coun").value = "{{ company.companyinfo.country}}";
    </script>
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>
