<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
  <body>
    <!-- header section starts  -->
    {% csrf_token %} 
    <!-- Navbarmain -->
    {% include "navbarmain.html" %}
    <!-- Navbarmain --> 
   
    <!-- Navbarprofile  -->
    {% include  'navbarprofile.html'%}
    <!-- Navbarprofile  -->
    {% if user.role == 'STUDENT' %}
    <section class="view-student">
      <h1 class="heading">Student details</h1>

      <div class="details">
        <div class="info">
          <img src="{{ student.studentinfo.profile.url }}" alt="" />
          <h3>{{ student.studentinfo.first_name }} {{ student.studentinfo.last_name }}</h3>
          <p>{{ student.studentinfo.student_id }}</p>
        </div>

        <div class="description">
          <h3>general information</h3>
          <ul>
            <p>Curriculum vitae</p>
            <li><a href="{{ student.studentinfo.cv.url }}">Click to view CV</a></li>
            <br />
            <p>Full name</p>
            <li>{{ student.studentinfo.first_name }} {{ student.studentinfo.last_name }}</li>
            <br />
            <p>Student id</p>
            <li>{{ student.studentinfo.student_id }}</li>
            <br />
            <p>Email address</p>
            <li>{{ student.studentinfo.email }}</li>
            <br />
            <p>Phone number</p>
            <li>{{ student.studentinfo.phone }}</li>
            <br />
            <p>Gender</p>
            <li>{{ student.studentinfo.gender }}</li>
            <br />
          </ul>

          <h3>about internship</h3>
          <ul>
            <p>Last job</p>
            <li>{{ student.studentinfo.last_job }}</li>
            <br />
            <p>Company</p>
            <li>{{ student.studentinfo.intern_company }}</li>
            <br />
            <p>Skills</p>
            <li>{{ student.studentinfo.skill }}</li>
            <br />
            <p>English skills</p>
            <li>{{ student.studentinfo.eng_skill }}</li>
            <br />
            <p>Start date of internship</p>
            <li>{{ student.studentinfo.intern_start }}</li>
            <br />
            <p>End date of internship</p>
            <li>{{ student.studentinfo.intern_end }}</li>
            <br />
          </ul>

          <h3>education</h3>
          <ul>
            <p>University</p>
            <li>{{ student.studentinfo.university }}</li>
            <br />
            <p>Faculty</p>
            <li>{{ student.studentinfo.faculty }}</li>
            <br />
            <p>Major</p>
            <li>{{ student.studentinfo.major }}</li>
            <br />
          </ul>
        </div>
        {% if student %}
        <form action="{% url 'editinfo' role=context.role username=context.username %}" method="post" class="flex-btn">
          {% csrf_token %}
          <input type="submit" value="edit profile" class="btn" />
          <input type="hidden" name="role" value="{{ context.role }}">
          <input type="hidden" name="username" value="{{ context.username }}">
        </form>

        {% else %}
        <form action="{% url 'addinfo' role=context.role username=context.username %}" method="post" class="flex-btn">
          {% csrf_token %}
          <input type="submit" value="Add info" class="btn" />
          <input type="hidden" name="role" value="{{ context.role }}">
          <input type="hidden" name="username" value="{{ context.username }}">
        </form>
        {% endif %}
      </div>
    </section>

    <!-- company details section ends -->

    <!-- jobs section starts  -->

    <section class="jobs-container">
    </section>
    <!-- jobs section ends  -->

    {% elif user.role == 'COMPANY' %}
    <!-- company details section starts  -->

    <section class="view-company">
      <h1 class="heading">company details</h1>

      <div class="details">
        <div class="info">
          <img src="{{ company.companyinfo.profile.url }}" alt="" />
          <h3>{{ company.companyinfo.company_name_eng }}</h3>
          <p><i class="fas fa-map-marker-alt"></i> {{ company.companyinfo.province }}, {{ company.companyinfo.country }}</p>
        </div>

        <div class="description">
          <ul>
            <h3>about company</h3>
            <li>{{ company.companyinfo.company_des }}</li>
          </ul>
          <ul>
            <p>Company name</p>
            <li>{{ company.companyinfo.company_name_thai }}</li>
            <br />
            <p>Foundation date</p>
            <li>{{ company.companyinfo.foundation_date }}</li>
            <br />
            <p>Working employess</p>
            <li>{{ company.companyinfo.number_of_employees }} person</li>
            <br />
            <p>Email address</p>
            <li>{{ company.companyinfo.email }}</li>
            <br />
            <p>Phone number</p>
            <li>{{ company.companyinfo.phone }}</li>
            <br />
            <p>LineID</p>
            <li>{{ company.companyinfo.line_id}}</li>
            <br />
            <p>website</p>
            <li>{{ company.companyinfo.website}}</li>
            <br />
          </ul>

          <h3>Company Address</h3>
          <ul>
            <p>address</p>
            <li>{{ company.companyinfo.address}}</li>
            <br />
            <p>Sub District</p>
            <li>{{ company.companyinfo.sub_district}}</li>
            <br />
            <p>District</p>
            <li>{{ company.companyinfo.district}}</li>
            <br />
            <p>Province</p>
            <li>{{ company.companyinfo.Province}}</li>
            <br />
            <p>country</p>
            <li>{{ company.companyinfo.country}}</li>
            <br />
            <p>Post code</p>
            <li>{{ company.companyinfo.postal_code}}</li>
            <br />
          </ul>
        </div>

        {% comment %} <ul>
          <li>3 jobs posted</li>
          <li>established at 21-05-2004</li>
          <li>253 working employess</li>
        </ul> {% endcomment %}
        {% if company %}
        <form action="{% url 'editinfo' role=context.role username=context.username %}" method="post" class="flex-btn">
          {% csrf_token %}
          <input type="submit" value="edit profile" class="btn" />
          <input type="hidden" name="role" value="{{ context.role }}">
          <input type="hidden" name="username" value="{{ context.username }}">
        </form>

        {% else %}
        <form action="{% url 'addinfo' role=context.role username=context.username %}" method="post" class="flex-btn">
          {% csrf_token %}
          <input type="submit" value="Add info" class="btn" />
          <input type="hidden" name="role" value="{{ context.role }}">
          <input type="hidden" name="username" value="{{ context.username }}">
        </form>
        {% endif %}
      </div>
    </section>

    <!-- company details section ends -->

    <!-- jobs section starts  -->
    {% endif %}
    <section class="jobs-container">
      <h1 class="heading">jobs they offer</h1>
      <div class="box-container">
        {% for job in jobs %}
        <div class="box">
            <div class="company">
                <div>
                    <h3>{{ job.company }}</h3>
                    <p></p>
                </div>
            </div>
            <h3 class="job-title">{{ job.jobname }}</h3>
            <p class="location">
                <i class="fas fa-map-marker-alt"></i> <span>{{ job.city }}, {{job.country }}</span>
            </p>
            <div class="tags">
                <p>
                    <i class="fas fa-indian-rupee-sign"></i> <span>{{ job.benefit }}</span>
                </p>
                <p><i class="fas fa-briefcase"></i> <span>{{ job.worktype }}</span></p>
                <p><i class="fas fa-clock"></i> <span>{{ job.workday }}</span></p>
            </div>
            <div class="flex-btn">
                <a href="{% url 'view_job' job.id %}" class="btn">Views</a>
                <button type="submit" class="far fa-heart" name="save"></button>
            </div>
        </div>
      {% endfor %}
      </div>
    </section>

    <!-- jobs section ends -->
    <section></section>
    <!-- custom js file link  -->
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>