<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ใบสมัครงาน</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
  <body>
    <!-- header section starts  -->
    {% csrf_token %} 
    <!-- Navbarmain -->
    {% include "navbarmain.html" %}
    <!-- Navbarmain --> 
   
    <!-- Navbarprofile  -->
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li style="font-size:150%;" class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    <!-- Navbarprofile  -->
    <section class="jobs-container">
      <h1 class="heading">ใบสมัครงาน</h1>
      {% include  'navbarstatus.html'%}
    </section>
    <!-- jobs section ends -->
    <section></section>
    <!-- custom js file link  -->
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>