<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Register</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
  <body>
    <!-- header section starts  -->
    {% include "navbarmain.html" %}

    <!-- header section ends -->

    <!-- Navbar  -->
    <section class="navbar__links" id="navbar-links">
      <div class="navbar__div">
        <a href="view_student.html" class="navbar__item">Profile</a>
        <a href="#" class="navbar__item">Company</a>
        <a href="#" class="navbar__item">...</a>
      </div>
    </section>
    <!-- Navbar  -->

    <!-- view job section starts  -->

    <section class="job-details">
      <h1 class="heading">job details</h1>

      <div class="details">
        <div class="job-info">
          <h3>senior web designer</h3>
          <a href="view_company.html">IT infosys co.</a>
          <p><i class="fas fa-map-marker-alt"></i> mumbai, india</p>
        </div>
        <div class="basic-details">
          <h3>salary</h3>
          <p>10000 - 25000 per month</p>
          <h3>benefits</h3>
          <p>work from home, health insurance</p>
          <h3>job type</h3>
          <p>internship</p>
          <h3>Work day</h3>
          <p>5 days per week</p>
        </div>
        <ul>
          <h3>requirements</h3>
          <li>language : <span>english</span></li>
        </ul>
        <ul>
          <h3>qualifications</h3>
          <li>-</li>
        </ul>
        <ul>
          <h3>skills</h3>
          <li>html5 and css3</li>
          <li>javascript</li>
          <li>node.js</li>
          <li>react.js</li>
          <li>php</li>
          <li>mysql</li>
        </ul>
        <div class="description">
          <h3>job description</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
            voluptas architecto vel atque dolores deserunt explicabo dolorum.
            Mollitia, qui delectus.
          </p>
          <ul>
            <li>Hiring 2 candidate for this role</li>
            <li>posted 2 days ago</li>
          </ul>
        </div>
        <form action="" method="post" class="flex-btn">
          <input type="submit" value="apply now" name="apply" class="btn" />
          <button type="submit" class="save">
            <i class="far fa-heart"></i> <span>save job</span>
          </button>
        </form>
      </div>
    </section>

    <!-- view job section ends -->
    <section></section>
    <!-- custom js file link  -->
    <script src="js/script.js"></script>
  </body>
</html>
