<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>รายละเอียดตำแหน่ง</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
  <body>
    <!-- header section starts  -->
    {% csrf_token %}
    <!-- Navbarmain -->
    {% include "navbarmain.html" %}
    <!-- Navbarmain -->

    <!-- view job section starts  -->

    <section class="job-details">
      <h1 class="heading">รายละเอียดตำแหน่ง</h1>

      <div class="details">
        <div class="job-info">
          <h3 style="font-size:250%;">{{ job.jobname }}</h3>
          <a style="font-size:230%;" href="view_company.html">บริษัท {{ job.company }}</a>
          <p style="font-size:200%;"><i class="fas fa-map-marker-alt"></i>สถานที่ฝึกงาน : {{ job.city }}, {{job.country }}</p>
        </div>
        <div class="basic-details">
          <h3 style="font-size:220%;">รายละเอียดตำแหน่ง</h3>
          <p style="font-size:190%;">{{ job.jobdes }}</p>
          <h3 style="font-size:220%;">ค่าตอบแทน/สวัสดิการ</h3>
          <p style="font-size:190%;">{{ job.benefit }}</p>
          <h3 style="font-size:220%;">วันทำงานต่อสัปห์ดา</h3>
          <p style="font-size:190%;">{{ job.workday }}</p>
          <h3 style="font-size:220%;">คุณสมบัติ</h3>
          <p style="font-size:190%;">{{ job.requirement }}</p>
          <h3 style="font-size:220%;">ความสามารถ</h3>
          <p style="font-size:190%;">{{ job.skills }}</p>
        </div>
        <ul>
          
        </ul>
        <ul>
          
        </ul>
        <div class="description">
          <ul>
            {% comment %} <li>Hiring 2 candidate for this role</li>
            <li>posted 2 days ago</li> {% endcomment %}
          </ul>
        {% if user.role == 'STUDENT' %}
        <form action="{% url 'apply_job' job_id=job.id %}" method="post" class="flex-btn">
          {% csrf_token %}
          <input type="submit" value="ส่งใบสมัคร" name="apply" class="btn" />
          {% comment %} <button type="submit" class="save">
            <i class="far fa-heart"></i> <span>save job</span>
          </button> {% endcomment %}
        </form>
        {% endif %}
      </div>
    </section>

    <!-- view job section ends -->
    <section></section>
    <!-- custom js file link  -->
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>
