<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Register</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
  <body>
    <!-- header section starts  -->
    {% csrf_token %}
    <!-- Navbarmain -->
    {% include "navbarmain.html" %}
    <!-- Navbarmain -->

    <!-- view job section starts  -->

    <section class="job-details">
      <h1 class="heading">job details</h1>

      <div class="details">
        <div class="job-info">
          <h3>{{ job.jobname }}</h3>
          <a href="view_company.html">{{ job.company }}</a>
          <p><i class="fas fa-map-marker-alt"></i> {{ job.city }}, {{job.country }}</p>
        </div>
        <div class="basic-details">
          <h3>benefits</h3>
          <p>{{ job.benefit }}</p>
          <h3>job type</h3>
          <p>{{ job.worktype }}</p>
          <h3>Work day</h3>
          <p>{{ job.workday }}</p>
        </div>
        <ul>
          <h3>requirements</h3>
          <li>{{ job.requirement }}</li>
        </ul>
        <ul>
          <h3>qualifications</h3>
          <li>{{ job.qualifications }}</li>
        </ul>
        <ul>
          <h3>skills</h3>
          <li>{{ job.skills }}</li>
        </ul>
        <div class="description">
          <h3>job description</h3>
          <p>
            {{ job.jobdes }}
          </p>
          <ul>
            {% comment %} <li>Hiring 2 candidate for this role</li>
            <li>posted 2 days ago</li> {% endcomment %}
          </ul>
        </div>
        {% if user.role == 'STUDENT' %}
        <form action="{% url 'apply_job' job_id=job.id %}" method="post" class="flex-btn">
          {% csrf_token %}
          <input type="submit" value="apply now" name="apply" class="btn" />
          <button type="submit" class="save">
            <i class="far fa-heart"></i> <span>save job</span>
          </button>
        </form>
        {% endif %}
      </div>
    </section>

    <!-- view job section ends -->
    <section></section>
    <!-- custom js file link  -->
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>
