<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Register</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
  <body>
    <!-- header section starts  -->
    {% include "navbarmain.html" %}

    <!-- header section ends -->

    <!-- Navbar  -->
    <section class="navbar__links" id="navbar-links">
      <div class="navbar__div">
        <a href="view_student.html" class="navbar__item">Profile</a>
        <a href="#" class="navbar__item">Company</a>
        <a href="#" class="navbar__item">...</a>
      </div>
    </section>
    <!-- Navbar  -->

    <!-- company details section starts  -->

    <section class="view-company">
      <h1 class="heading">company details</h1>

      <div class="details">
        <div class="info">
          <img src="images/icon-1.png" alt="" />
          <h3>IT infosys co.</h3>
          <p><i class="fas fa-map-marker-alt"></i> mumbai, india</p>
        </div>

        <div class="description">
          <h3>about company</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe
            omnis dolore sunt. Tempora voluptatem sit officia, deserunt quaerat
            eum quis quo quisquam magni placeat architecto repellat blanditiis
            ex neque hic.
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea rerum
            ullam culpa minima voluptates ex autem ducimus atque commodi
            voluptatum.
          </p>
        </div>

        <ul>
          <li>3 jobs posted</li>
          <li>established at 21-05-2004</li>
          <li>253 working employess</li>
        </ul>
      </div>
    </section>

    <!-- company details section ends -->

    <!-- jobs section starts  -->

    <section class="jobs-container">
      <h1 class="heading">jobs they offer</h1>

      <div class="box-container">
        <div class="box">
          <div class="company">
            <img src="images/icon-1.png" alt="" />
            <div>
              <h3>IT infosys co.</h3>
              <p>2 days ago</p>
            </div>
          </div>
          <h3 class="job-title">senior web developer</h3>
          <p class="location">
            <i class="fas fa-map-marker-alt"></i> <span>mumbai, india</span>
          </p>
          <div class="tags">
            <p>
              <i class="fas fa-indian-rupee-sign"></i> <span>10k - 25k</span>
            </p>
            <p><i class="fas fa-briefcase"></i> <span>internship</span></p>
            <p><i class="fas fa-clock"></i> <span>5 days per week</span></p>
          </div>
          <div class="flex-btn">
            <a href="view_job.html" class="btn">view details</a>
            <button type="submit" class="far fa-heart" name="save"></button>
          </div>
        </div>

        <div class="box">
          <div class="company">
            <img src="images/icon-2.png" alt="" />
            <div>
              <h3>IT infosys co.</h3>
              <p>2 days ago</p>
            </div>
          </div>
          <h3 class="job-title">qualified developer</h3>
          <p class="location">
            <i class="fas fa-map-marker-alt"></i> <span>mumbai, india</span>
          </p>
          <div class="tags">
            <p><i class="fas fa-indian-rupee-sign"></i> <span>9000</span></p>
            <p><i class="fas fa-briefcase"></i> <span>internship</span></p>
            <p><i class="fas fa-clock"></i> <span>5 days per week</span></p>
          </div>
          <div class="flex-btn">
            <a href="view_job.html" class="btn">view details</a>
            <button class="far fa-heart"></button>
          </div>
        </div>

        <div class="box">
          <div class="company">
            <img src="images/icon-3.png" alt="" />
            <div>
              <h3>IT infosys co.</h3>
              <p>posted today</p>
            </div>
          </div>
          <h3 class="job-title">javascript developer</h3>
          <p class="location">
            <i class="fas fa-map-marker-alt"></i> <span>mumbai, india</span>
          </p>
          <div class="tags">
            <p>
              <i class="fas fa-indian-rupee-sign"></i> <span>10k - 25k</span>
            </p>
            <p><i class="fas fa-briefcase"></i> <span>intership</span></p>
            <p><i class="fas fa-clock"></i> <span>5 days per week</span></p>
          </div>
          <div class="flex-btn">
            <a href="view_job.html" class="btn">view details</a>
            <button class="far fa-heart"></button>
          </div>
        </div>
      </div>
    </section>

    <!-- jobs section ends -->
    <section></section>
    <!-- custom js file link  -->
    <script src="js/script.js"></script>
  </body>
</html>
