<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Register</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
  <body>
    <!-- header section starts  -->
    {% include "navbarmain.html" %}
    <!-- header section ends -->

    <!-- Navbar  -->
    {% include 'navbarprofile.html'%}
    <!-- Navbar  -->

    <!-- company details section starts  -->

    <section class="view-student">
      <h1 class="heading">Student details</h1>

      <div class="details">
        <div class="info">
          <img src="images/profilepics.jpg" alt="" />
          <h3>Hoshino Ai</h3>
          <p>Front-end, UX/UI</p>
        </div>

        <div class="description">
          <h3>general information</h3>
          <ul>
            <p>Curriculum vitae</p>
            <li><a href="images/Hoshino_CV.pdf">Click to view CV</a></li>
            <br />
            <p>Full name</p>
            <li>Hoshino Ai</li>
            <br />
            <p>Student id</p>
            <li>64159876</li>
            <br />
            <p>Email address</p>
            <li>HoshinoAi@gmail.com</li>
            <br />
            <p>Phone number</p>
            <li>+66 58 542 6687</li>
            <br />
            <p>Gender</p>
            <li>Female</li>
            <br />
          </ul>

          <h3>about internship</h3>
          <ul>
            <p>Last job</p>
            <li>UX/UI</li>
            <br />
            <p>Company</p>
            <li>IT infosys co.</li>
            <br />
            <p>Skills</p>
            <li>html5 and css3</li>
            <li>javascript</li>
            <li>mysql</li>
            <br />
            <p>English skills</p>
            <li>B1</li>
            <br />
            <p>Start date of internship</p>
            <li>1 April 2024</li>
            <br />
            <p>End date of internship</p>
            <li>30 September 2024</li>
            <br />
          </ul>

          <h3>education</h3>
          <ul>
            <p>University</p>
            <li>University of phayao</li>
            <br />
            <p>Faculty</p>
            <li>Information, Communication and Technology</li>
            <br />
            <p>Major</p>
            <li>Software engineering</li>
            <br />
          </ul>
        </div>
        <form action="#" class="flex-btn">
          {% csrf_token %}
          <a href="#" class="btn">Accept</a>
          <a href="{% url "interviewform" role='COMPANY' username=user.username %}" class="btn">Interview</a>
          <a href="#" class="btn">Reject</a>
        </form>
      </div>
    </section>

    <!-- company details section ends -->

    <section></section>
    <!-- custom js file link  -->
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>
