<!DOCTYPE>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ใบสมัครงาน</title>
  </head>
  <body>
{% load static %}
<link rel="stylesheet" href="{% static "css/css.css" %}" />
<link rel="stylesheet" href="{% static "css/style.css" %}" />
<body>
{% if user.role == 'COMPANY' %}
<section class="flex" id="navbar-links">
  <div class="navbar__container"> 
    <div class="navbar__div">
      <!-- ใส่ id เพื่อให้ JavaScript เรียกใช้ -->
      <a href="{% url 'studentview' role=user.role username=user.username %}" class="navbar__status">ใบสมัคร</a>
      |
      <a href="{% url 'interviewedview' role=user.role username=user.username %}" class="navbar__status">นัดสัมภาษณ์</a>
      |
      <a href="{% url 'approvedview' role=user.role username=user.username %}" class="navbar__status">รับเข้าฝึกงาน</a>
      |
      <a href="{% url 'rejectedview' role=user.role username=user.username %}" class="navbar__status">คุณสมบัติไม่ตรง</a>
    </div>
  </div>
</section>
{% elif user.role == 'STUDENT' %}
<section class="flex" id="navbar-links">
  <div class="navbar__container"> 
    <div class="navbar__div">
      <!-- ใส่ id เพื่อให้ JavaScript เรียกใช้ -->
      <a href="{% url 'companyselect' role='STUDENT' username=user.username %}" class="navbar__status">ใบสมัคร</a>
      |
      <a href="{% url 'interviewed' role='STUDENT' username=user.username %}" class="navbar__status">นัดสัมภาษณ์</a>
      |
      <a href="{% url 'approved' role='STUDENT' username=user.username %}" class="navbar__status">รับเข้าฝึกงาน</a>
      |
      <a href="{% url 'rejected' role='STUDENT' username=user.username %}" class="navbar__status">คุณสมบัติไม่ตรง</a>
    </div>
  </div>
</section>
{% endif %}

<script>
function showContent(contentId) {
  var contents = document.getElementsByClassName('content');
  for (var i = 0; i < contents.length; i++) {
    contents[i].style.display = 'none';
  }
  var content = document.getElementById(contentId);
  if (content) {
    content.style.display = 'block';
  }
}
</script>
</body>
</html>