<section class="flex" id="navbar-links">
  <div class="navbar__container"> 
    <div class="navbar__div">
      <a href="#" class="navbar__status" style="margin-top: 0">ใบสมัคร</a>
      |
      <a href="#" class="navbar__status" style="margin-top: 0">นัดสัมภาษณ์</a>
      |
      <a href="#" class="navbar__status" style="margin-top: 0">รับเข้าฝึกงาน</a>
      |
      <a href="#" class="navbar__status" style="margin-top: 0">คุณสมบัติไม่ตรง</a>
      |
      <a href="#" class="navbar__status" style="margin-top: 0">ภาพรวม</a>
    </div>
  </div>
</section>