<header class="header">
  <s class="flex">
    <div id="menu-btn" class="fas fa-bars-staggered"></div>

    <a href="{% url 'home' %}" class="logo"><i class="fas fa-briefcase"></i> Software Engineer.</a>

    {% if user.is_authenticated %} {% if user.role == 'STUDENT' %}

    <nav class="navbar">
      <a href="{% url 'home' %}">ค้นหางาน</a>
    </nav>
    <a
      href="{% url 'profile' role='STUDENT' username=user.username %}"
      class="btn"
      style="margin-top: 0"
      >โปรไฟล์</a
    >

    {% elif user.role == 'COMPANY' %}
    <nav class="navbar">
      <a href="{% url 'studentview' role=user.role username=user.username %}">ใบสมัครงาน</a>
    </nav>
    <a
      href="{% url 'profile' role='COMPANY' username=user.username %}"
      class="btn"
      style="margin-top: 0"
      >โปรไฟล์</a
    >
    {% endif %} {% else %}
    <a href="{% url 'login_page' %}" class="btn" style="margin-top: 0"
      >เข้าสู่ระบบ/ลงทะเบียน</a
    >
    {% endif %}
  </s>
</header>
