<section class="navbar__links" id="navbar-links">
  <div class="navbar__div">
    {% if user.role == 'STUDENT' %}
    <a
      href="{% url 'profile' role='STUDENT' username=user.username %}"
      class="navbar__item"
      style="margin-top: 0"
      >โปรไฟล์</a
    >
    <a
      href="{% url 'companyselect' role='STUDENT' username=user.username %}"
      class="navbar__item"
      >ใบสมัครงาน</a
    >
    <a
      href="{% url 'logout' %}"
      class="navbar__item-btn btn-danger"
      style="margin-top: 0"
      >ออกจากระบบ</a
    >
    {% elif user.role == 'COMPANY' %}
    <a
      href="{% url 'profile' role='COMPANY' username=user.username %}"
      class="btn"
      style="margin-top: 0"
      >โปรไฟล์</a
    >
    <a
      href="{% url 'position' role='COMPANY' username=user.username %}"
      class="navbar__item"
      >ตำแหน่งงาน</a
    >
    <a
      href="{% url 'studentview' role='COMPANY' username=user.username %}"
      class="navbar__item"
      >ใบสมัครงาน</a
    >
    <a href="{% url 'logout' %}" class="btn-danger" style="margin-top: 0">ออกจากระบบ</a>
    {% endif %}
  </div>
</section>
