<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ใบสมัครงาน</title>
  </head>
  <body>
{% load static %}
<link rel="stylesheet" href="{% static "css/css.css" %}" />
<link rel="stylesheet" href="{% static "css/style.css" %}" />
<body>
{% if user.role == 'COMPANY' %}
<section class="flex" id="navbar-links">
  <div class="navbar__container"> 
    <div class="navbar__div">
      <!-- ใส่ id เพื่อให้ JavaScript เรียกใช้ -->
      <a href="{% url 'studentview' role=user.role username=user.username %}" class="navbar__status">ใบสมัคร</a>
      |
      <a href="{% url 'interviewedview' role=user.role username=user.username %}" class="navbar__status">นัดสัมภาษณ์</a>
      |
      <a href="{% url 'approvedview' role=user.role username=user.username %}" class="navbar__status">รับเข้าฝึกงาน</a>
      |
      <a href="{% url 'rejectedview' role=user.role username=user.username %}" class="navbar__status">คุณสมบัติไม่ตรง</a>
    </div>
  </div>
</section>
{% elif user.role == 'STUDENT' %}
<section class="flex" id="navbar-links">
  <div class="navbar__container"> 
    <div class="navbar__div">
      <!-- ใส่ id เพื่อให้ JavaScript เรียกใช้ -->
      <a href="{% url 'companyselect' role='STUDENT' username=user.username %}" class="navbar__status">ใบสมัคร</a>
      |
      <a href="{% url 'interviewed' role='STUDENT' username=user.username %}" class="navbar__status">นัดสัมภาษณ์</a>
      |
      <a href="{% url 'approved' role='STUDENT' username=user.username %}" class="navbar__status">รับเข้าฝึกงาน</a>
      |
      <a href="{% url 'rejected' role='STUDENT' username=user.username %}" class="navbar__status">คุณสมบัติไม่ตรง</a>
    </div>
  </div>
</section>
{% endif %}


{% comment %} {% if user.role == 'COMPANY' %}
<section>
<!-- เนื้อหาที่จะแสดง -->
<div id="registration" class="content">
  <section class="jobs-container">
    <h1 class="heading">ตำแหน่งที่เปิดรับสมัคร</h1>
    <div class="box-container">
      {% for showstudent, status, job, match_id, student_id, interview in students %}
      {% if status == "Pending" %}
      <div class="company">
        <div>
          <h3>{{ job.jobname }}</h3>
          <p></p>
        </div>
      </div>
      <h3 class="job-title">
        {{ showstudent.first_name }} {{ showstudent.last_name }}
      </h3>
      <p class="location">
        <i class="fas fa-map-marker-alt"></i>
        <span>{{ showstudent.interest_job }}, {{ showstudent.skill }}</span>
      </p>
      <div class="tags">
        <p>
          <i class="fa-solid fa-money-bill"></i>
          <span>{{ showstudent.email }}</span>
        </p>
        <p>
          <i class="fas fa-briefcase"></i>
          <span>{{ showstudent.university }}</span>
        </p>
        <p>
          <i class="fas fa-clock"></i>
          <span>{{ showstudent.birthday }}</span>
        </p>
      </div>
      <div class="flex-btn-status">
        <a href="{% url 'approved' match_id=match_id %}" class="btn-green">รับเข้าฝึกงาน</a>
        <a href="{% url 'interviewed' match_id=match_id %}" class="btn-bule">นัดสัมภาษณ์</a>
        <a href="{% url 'rejected' match_id=match_id %}" class="btn-danger">คุณสมบัติไม่ตรง</a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>
</div>


<div id="interview" class="content">
  <section class="jobs-container">
    <h1 class="heading">นัดสัมภาษณ์</h1>
    <div class="box-container">
      {% for showstudent, status, job, match_id, student_id, interview in students %}
      {% if status == "Interview" %}
      <div class="company">
        <div>
          <h3>{{ job.jobname }}</h3>
          <p></p>
        </div>
      </div>
      <h3 class="job-title">
        {{ showstudent.first_name }} {{ showstudent.last_name }}
      </h3>
      <p class="location">
        <i class="fas fa-map-marker-alt"></i>
        <span>{{ showstudent.interest_job }}, {{ showstudent.skill }}</span>
      </p>
      <div class="tags">
        <p>
          <i class="fa-solid fa-money-bill"></i>
          <span>{{ showstudent.email }}</span>
        </p>
        <p>
          <i class="fas fa-briefcase"></i>
          <span>{{ showstudent.university }}</span>
        </p>
        <p>
          <i class="fas fa-clock"></i>
          <span>{{ showstudent.birthday }}</span>
        </p>
      </div>
      <div class="flex-btn-status">
        <a href="{% url 'approved' match_id=match_id %}" class="btn-green">รับเข้าฝึกงาน</a>
        <a href="{% url 'addschedule' match_id=match_id %}" class="btn-bule">นัดสัมภาษณ์</a>
        <a href="{% url 'rejected' match_id=match_id %}" class="btn-danger">คุณสมบัติไม่ตรง</a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>
</div>
<div id="training" class="content">
  <section class="jobs-container">
    <h1 class="heading">รับเข้าฝึกงาน</h1>
    <div class="box-container">
      {% for showstudent, status, job, match_id, student_id, interview in students %}
      {% if status == "Approved" %}
      <div class="company">
        <div>
          <h3>{{ job.jobname }}</h3>
          <p></p>
        </div>
      </div>
      <h3 class="job-title">
        {{ showstudent.first_name }} {{ showstudent.last_name }}
      </h3>
      <p class="location">
        <i class="fas fa-map-marker-alt"></i>
        <span>{{ showstudent.interest_job }}, {{ showstudent.skill }}</span>
      </p>
      <div class="tags">
        <p>
          <i class="fa-solid fa-money-bill"></i>
          <span>{{ showstudent.email }}</span>
        </p>
        <p>
          <i class="fas fa-briefcase"></i>
          <span>{{ showstudent.university }}</span>
        </p>
        <p>
          <i class="fas fa-clock"></i>
          <span>{{ showstudent.birthday }}</span>
        </p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>
</div>
<div id="qualifications" class="content">
  <section class="jobs-container">
    <h1 class="heading">คุณสมบัติไม่ตรง</h1>
    <div class="box-container">
      {% for showstudent, status, job, match_id, student_id, interview in students %}
      {% if status == "Rejected" %}
      <div class="company">
        <div>
          <h3>{{ job.jobname }}</h3>
          <p></p>
        </div>
      </div>
      <h3 class="job-title">
        {{ showstudent.first_name }} {{ showstudent.last_name }}
      </h3>
      <p class="location">
        <i class="fas fa-map-marker-alt"></i>
        <span>{{ showstudent.interest_job }}, {{ showstudent.skill }}</span>
      </p>
      <div class="tags">
        <p>
          <i class="fa-solid fa-money-bill"></i>
          <span>{{ showstudent.email }}</span>
        </p>
        <p>
          <i class="fas fa-briefcase"></i>
          <span>{{ showstudent.university }}</span>
        </p>
        <p>
          <i class="fas fa-clock"></i>
          <span>{{ showstudent.birthday }}</span>
        </p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>
</div>
<div id="overview" class="content">
  <section class="jobs-container">
    <h1 class="heading">ภาพรวม</h1>
    <div class="box-container">
      {% for showstudent, status, job, match_id, student_id, interview in students %}
      <div class="company">
        <div>
          <h3>{{ job.jobname }}</h3>
          <p></p>
        </div>
      </div>
      <h3 class="job-title">
        {{ showstudent.first_name }} {{ showstudent.last_name }}
      </h3>
      <p class="location">
        <i class="fas fa-map-marker-alt"></i>
        <span>{{ showstudent.interest_job }}, {{ showstudent.skill }}</span>
      </p>
      <div class="tags">
        <p>
          <i class="fa-solid fa-money-bill"></i>
          <span>{{ showstudent.email }}</span>
        </p>
        <p>
          <i class="fas fa-briefcase"></i>
          <span>{{ showstudent.university }}</span>
        </p>
        <p>
          <i class="fas fa-clock"></i>
          <span>{{ showstudent.birthday }}</span>
        </p>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
</section>

{% elif user.role == 'STUDENT' %}
<section>
  <!-- เนื้อหาที่จะแสดง -->
  <div id="registration" class="content">
    <section class="jobs-container">
      <h1 class="heading">ใบสมัคร</h1>
            {% for company, status, job, interview in company %}
            {% if status == "Pending" %}
            <div class="box-container">
              <div class="box">
                <div class="company">
                  <div>
                    <h3>{{ job.jobname }}</h3>
                    <p></p>
                  </div>
                </div>
                <h3 class="job-title">
                  {{ company.company_name_eng }}
                </h3>
                <p class="location">
                  <i class="fas fa-map-marker-alt"></i>
                  <span>{{ company.province }}, {{ company.country }}</span>
                </p>
                <div class="tags">
                  <p>
                    <i class="fa-solid fa-money-bill"></i>
                    <span>{{ company.email }}</span>
                  </p>
                  <p>
                    <i class="fas fa-briefcase"></i>
                    <span>{{ job.requirement }}</span>
                  </p>
                  <p>
                    <i class="fas fa-clock"></i>
                    <span>{{ job.workday }}</span>
                  </p>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
    </section>
  </div>
  
  
  <div id="interview" class="content">
    <section class="jobs-container">
      <h1 class="heading">นัดสัมภาษณ์</h1>
            {% for company, status, job, interview in company %}
            {% if status == "Interview" %}
            <div class="box-container">
              <div class="box">
                <div class="company">
                  <div>
                    <h3>{{ job.jobname }}</h3>
                    <p></p>
                  </div>
                </div>
                <h3 class="job-title">
                  {{ company.company_name_eng }}
                </h3>
                <p class="location">
                  <i class="fas fa-map-marker-alt"></i>
                  <span>{{ company.province }}, {{ company.country }}</span>
                </p>
                <div class="tags">
                  <p>
                    <i class="fa-solid fa-money-bill"></i>
                    <span>{{ company.email }}</span>
                  </p>
                  <p>
                    <i class="fas fa-briefcase"></i>
                    <span>{{ job.requirement }}</span>
                  </p>
                  <p>
                    <i class="fas fa-clock"></i>
                    <span>{{ job.workday }}</span>
                  </p>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
    </section>
  </div>
  <div id="training" class="content">
    <section class="jobs-container">
      <h1 class="heading">รับเข้าฝึกงาน</h1>
            {% for company, status, job, interview in company %}
            {% if status == "Approved" %}
            <div class="box-container">
              <div class="box">
                <div class="company">
                  <div>
                    <h3>{{ job.jobname }}</h3>
                    <p></p>
                  </div>
                </div>
                <h3 class="job-title">
                  {{ company.company_name_eng }}
                </h3>
                <p class="location">
                  <i class="fas fa-map-marker-alt"></i>
                  <span>{{ company.province }}, {{ company.country }}</span>
                </p>
                <div class="tags">
                  <p>
                    <i class="fa-solid fa-money-bill"></i>
                    <span>{{ company.email }}</span>
                  </p>
                  <p>
                    <i class="fas fa-briefcase"></i>
                    <span>{{ job.requirement }}</span>
                  </p>
                  <p>
                    <i class="fas fa-clock"></i>
                    <span>{{ job.workday }}</span>
                  </p>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
    </section>
  </div>
  <div id="qualifications" class="content">
    <section class="jobs-container">
      <h1 class="heading">คุณสมบัติไม่ตรง</h1>
            {% for company, status, job, interview in company %}
            {% if status == "rejected" %}
            <div class="box-container">
              <div class="box">
                <div class="company">
                  <div>
                    <h3>{{ job.jobname }}</h3>
                    <p></p>
                  </div>
                </div>
                <h3 class="job-title">
                  {{ company.company_name_eng }}
                </h3>
                <p class="location">
                  <i class="fas fa-map-marker-alt"></i>
                  <span>{{ company.province }}, {{ company.country }}</span>
                </p>
                <div class="tags">
                  <p>
                    <i class="fa-solid fa-money-bill"></i>
                    <span>{{ company.email }}</span>
                  </p>
                  <p>
                    <i class="fas fa-briefcase"></i>
                    <span>{{ job.requirement }}</span>
                  </p>
                  <p>
                    <i class="fas fa-clock"></i>
                    <span>{{ job.workday }}</span>
                  </p>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
    </section>
  </div>
  <div id="overview" class="content">
    <section class="jobs-container">
      <h1 class="heading">ภาพรวม</h1>
            {% for company, status, job, interview in company %}
            <div class="box-container">
              <div class="box">
                <div class="company">
                  <div>
                    <h3>{{ job.jobname }}</h3>
                    <p></p>
                  </div>
                </div>
                <h3 class="job-title">
                  {{ company.company_name_eng }}
                </h3>
                <p class="location">
                  <i class="fas fa-map-marker-alt"></i>
                  <span>{{ company.province }}, {{ company.country }}</span>
                </p>
                <div class="tags">
                  <p>
                    <i class="fa-solid fa-money-bill"></i>
                    <span>{{ company.email }}</span>
                  </p>
                  <p>
                    <i class="fas fa-briefcase"></i>
                    <span>{{ job.requirement }}</span>
                  </p>
                  <p>
                    <i class="fas fa-clock"></i>
                    <span>{{ job.workday }}</span>
                  </p>
                </div>
              </div>
            </div>
            {% endfor %}
    </section>
  </div>
  </section>

{% endif %} {% endcomment %}

<script>
function showContent(contentId) {
  var contents = document.getElementsByClassName('content');
  for (var i = 0; i < contents.length; i++) {
    contents[i].style.display = 'none'; // ซ่อนเนื้อหาทั้งหมดก่อน
  }
  var content = document.getElementById(contentId);
  if (content) {
    content.style.display = 'block'; // แสดงเนื้อหาตามลิงค์ที่ถูกคลิก
  }
}
</script>
</body>
</html>