<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ดูใบสมัคร</title>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
  </head>
  <body>
  {% include "navbarmain.html" %}
  {% include "navbarstatus.html" %}
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li style="font-size:150%;" class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <section class="position-container">
    <h1 class="heading">นัดสัมภาษณ์</h1>
    <div class="loop-container">
      {% for showstudent, status, job, match_id, student_id, interview in students %}
      {% if status == "Interview" %}
      <div class="boxs">
        <div class="company">
          <div>
            <h3>ตำแหน่ง : {{ job.jobname }}</h3>
            <p></p>
          </div>
        </div>
        <div><img src="{{ showstudent.profile.url }}" alt="" /></div>
        <h3 class="job-title">
          {{ showstudent.first_name }} {{ showstudent.last_name }} ({{ showstudent.nick_name }})
        </h3>
        <p class="location">
          <i class="fa-brands fa-stack-overflow"></i>
            <span>ตำแหน่งที่สนใจ : {{ showstudent.interest_job }}</span>
        </p>

        <p class="location">
          <i class="fa-solid fa-link"></i>
          <span><a href="{{ showstudent.cv }}">Curriculum vitae (CV)</a></span>
        </p>
        
          <div class="tags">
            <p>
              <i class="fa-solid fa-calendar"></i>
              <span>วันที่ : {{ interview.date }}</span>
            </p>
            <p>
              <i class="fas fa-briefcase"></i>
              <span>รูปแบบ : {{ interview.location }}</span>
            </p>
            <p>
              <i class="fas fa-clock"></i>
              <span>เวลา : {{ interview.time }}</span>
            </p>
            <p>
              <i class="fa-solid fa-link"></i>
              <span>ลิงค์สัมภาษณ์ : <a href="{{ interview.link }}">ลิงค์สัมภาษณ์</a></span>
          </div>
        </br>
        <div class="flex-btn-status">
            <a href="{% url 'inapproved' match_id=match_id %}" class="btn-green">รับเข้าฝึกงาน</a>
            <a href="{% url 'addschedule' match_id=match_id %}" class="btn-bule">สร้างใบนัด</a>
            <a href="{% url 'inrejected' match_id=match_id %}" class="btn-danger">คุณสมบัติไม่ตรง</a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>
    </body>
</html>