<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleS.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>ลงทะเบียน (สำหรับนิสิต)</title> 
</head>
<body>
    <div class="container">
        <header>ลงทะเบียน</header>

        <form action="#"> 
            {% csrf_token %}
            {{ form.errors }}
            <div class="form first">
                <div class="company details">
                    <lebel>รูปโปไฟล์</lebel>
                    <input type="file" accept="image/jpeg, image/png, image/jpg" id="input-file" required>

                    <div class="fields">
                        <div class="input-field">
                            <label>รหัสนิสิต</label>
                            <input type="number" placeholder="Enter your student ID" required>
                        </div>

                        <div class="input-field">
                            <label>ชื่อจริง</label>
                            <input type="text" placeholder="Enter your first name" required>
                        </div>

                        <div class="input-field">
                            <label>นามสกุล</label>
                            <input type="text" placeholder="Enter your last name" required>
                        </div>

                        <div class="input-field">
                            <label>ชื่อเล่น</label>
                            <input type="text" placeholder="Enter your nick name" required>
                        </div>

                        <div class="input-field">
                            <label>วัน/เดือน/ปี เกิด</label>
                            <input type="date" placeholder="Choose your date of birth" required>
                        </div>

                        <div class="input-field">
                            <label>เพศ</label>
                            <select required>
                                <option disabled selected>Select your gender</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Others</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="student contact">
                    <span class="title">ช่องทางติดต่อ</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Email</label>
                            <input type="email" placeholder="Enter your email" required>
                        </div>

                        <div class="input-field">
                            <label>เบอร์มือถือ</label>
                            <input type="number" placeholder="Enter your phone number" required>
                        </div>

                        <div class="input-field">
                            <label>Line ID</label>
                            <input type="text" placeholder="Enter your line ID" required>
                        </div>

                        <div class="input-field">
                            <label>เว็ปไซต์ (ถ้ามี)</label>
                            <input type="text" placeholder="Enter your website">
                        </div>
                    </div>

                    <button class="nextBtn">
                        <span class="btnText">Next</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div> 
            </div>

            <div class="form second">
                <div class="student details">
                    <span class="title">รายละเอียดการทำงาน</span>
                    <lebel>อัพโหลด CV/Resume</lebel>
                    <input type="file" accept="file" id="input-file" required>

                        <div class="fields">
                            <div class="input-field">
                                <label>ตำแหน่งที่ฝึกงานครั้งล่าสุด</label>
                                <input type="text" placeholder="Enter your last internship jobs" required>
                            </div>
    
                            <div class="input-field">
                                <label>รายละเอียดการทำงาน</label>
                                <input type="text" placeholder="Enter your jobs description" required>
                            </div>
    
                            <div class="input-field">
                                <label>ชื่อบริษัท</label>
                                <input type="text" placeholder="Enter a company that you used to be a trainee for" required>
                            </div>

                            <div class="input-field">
                                <label>ตำแหน่งที่สนใจ</label>
                                <input type="text" placeholder="Enter your interested jobs/positions" required>
                            </div>

                            <div class="input-field">
                                <label>ความสามารถ</label>
                                <input type="text" placeholder="Enter your skills/expertise" required>
                            </div>

                            <div class="input-field">
                                <label>ระดับการศึกษา</label>
                                <input type="text" placeholder="Enter your education" required>
                            </div>

                            <div class="input-field">
                                <label>GPA</label>
                                <input type="number" placeholder="Enter your GPA" required>
                            </div>

                            <div class="input-field">
                                <label>วันที่เริ่มฝึกงาน (ปัจจุบัน)</label>
                                <input type="date" placeholder="Choose your start date of internship" required>
                            </div>

                            <div class="input-field">
                                <label>วันที่สิ้นสุดการฝึกงาน (ปัจจุบัน)</label>
                                <input type="date" placeholder="Choose your end date of internship" required>
                            </div>

                            <div class="input-field">
                                <label>ระดับภาษาอังกฤษ</label>
                                <select required>
                                    <option disabled selected>Select your english skill</option>
                                    <option>Fair enough</option>
                                    <option>Moderate</option>
                                    <option>Very good</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <div class="backBtn">
                            <i class="uil uil-navigator"></i>
                            <span class="btnText">Back</span>
                        </div>
                        
                        <button class="sumbit">
                            <span class="btnText">Submit</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                    </div>
                </div>
            </div> 
        </form>
    </div>

    <script src="{% static 'js/scriptS.js' %}"></script>
</body>
</html>